# cd
alias -- -='cd -'
alias ..='cd ..'
alias cdh='cd ~'

# system
alias e='$EDITOR' # as editor shortcut
alias ls='/bin/ls -F' # reset to overwrite grc; F: suffix for dirs/executables/symlinks
alias l='ls -Alh' # all, long, human readable (includes F from ls)
alias mv='mv -v'
alias rm='rm -vr'
alias rmf='/bin/rm -rf' # non-verbose
alias cp='cp -vr'
alias ln='ln -v'
alias cb='pbcopy' # clipboard shortcut

# utilities
alias lsps='grc ps -a -r -f -o %cpu,user | grep -v grep | grep'
alias cp_p='rsync -WavP --human-readable --progress' # copy with progress
alias pmset3='sudo pmset -a hibernatemode 3 && pmset -g' # default hibernate
alias pmset25='sudo pmset -a hibernatemode 25 && pmset -g' # full hibernate
alias lock='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'
alias dsstore_clean='find . -type f -name .DS_Store -ls -delete'
alias dnslookup='host -t NS'
alias password-gen='pw=`openssl rand -base64 12`; printf "$pw" | pbcopy; printf "$pw (copied to clipboard)"; unset pw'
alias id_rsa='cat ~/.ssh/id_rsa.pub | pbcopy; printf "public key copied to clipboard"'
alias cask='brew cask'
alias zap='brew cask zap'
alias gcc11='gcc -std=c++11 -Wall'
alias bs='browser-sync start --directory --server --files "*.js, *.html, *.css"'
alias ytdla='youtube-dl --extract-audio --audio-format mp3'
alias deploy='now && now alias && now rm --safe --yes `basename $(pwd)`' # be aware of folder name
alias wttr='curl -s "wttr.in" | grep -v "^\w"'
alias json_prettify='node -e "console.log(JSON.stringify(JSON.parse(process.argv[1]), null, 2))"'

# git
alias git=hub
alias add='git add'
alias clone='git clone'
alias commit='git commit'
alias pull='git pull'
alias push='git push'
alias checkout='git checkout'
alias gst='git status'
alias gd='git diff'
alias gda='git diff .'
alias gdc='git diff --cached'

# npm scripts
alias r='npm run -s'
alias s='npm start -s'
alias t='npm test -s'

# npm package management
alias npmi='npm install'
alias npmie='npm install --save-exact'
alias npmr='npm remove'
alias npmins='npm i --no-save'
alias npmrns='npm r --no-save'
alias npmig='npm i --global'
alias npmrg='npm r --global'
alias npmid='npm i --save-dev'
alias npmide='npm install --save-dev --save-exact'
alias npmrd='npm r --save-dev'
alias npmu='npm update'
alias npmug='npm update --global'
alias npmls='npm list --depth=0'
alias npmlsg='npm list --global --depth=0'
alias npmo='npm outdated -l'
alias npmog='npm outdated --global --depth=0'
