function c() {
	cd "$1" && l
}

function mkd() {
	mkdir -p "$1" && cd "$1"
}

function npmil() {
	for package in "$@"
	do
		echo "installing latest version of $package..."
		npm install --save-exact "$package@latest"
	done
}

function npmidl() {
	for package in "$@"
	do
		echo "installing latest version of $package..."
		npm install --save-exact --save-dev "$package@latest"
	done
}

function npmcl() {
	url=`npm view "$1" repository.url | grep github`
	if [ -n "$url" ]
	then
		[[ $url =~ 'github.com/(.+)/(.+).git' ]] && user=$match[1] && repo=$match[2]
		curl "https://raw.githubusercontent.com/$user/$repo/master/CHANGELOG.md" | less
	fi
}

function extractAttachment() {
	# e. g. extractAttachment mail.eml attachment.pdf
	perl -MMIME::Base64 -ne 'print decode_base64($_)' < "$1" > "$2"
}

function rewriteGitAuthor() {
	# see https://help.github.com/articles/changing-author-info/
	#
	# $1: old email
	# $2: new name
	# $3: new email
	git filter-branch --env-filter "
	OLD_EMAIL=\"$1\"
	CORRECT_NAME=\"$2\"
	CORRECT_EMAIL=\"$3\"
	if [ \"\$GIT_COMMITTER_EMAIL\" = \"\$OLD_EMAIL\" ]
	then
		export GIT_COMMITTER_NAME=\"\$CORRECT_NAME\"
		export GIT_COMMITTER_EMAIL=\"\$CORRECT_EMAIL\"
	fi
	if [ \"\$GIT_AUTHOR_EMAIL\" = \"\$OLD_EMAIL\" ]
	then
		export GIT_AUTHOR_NAME=\"\$CORRECT_NAME\"
		export GIT_AUTHOR_EMAIL=\"\$CORRECT_EMAIL\"
	fi
	" --tag-name-filter cat -- --branches --tags

	echo now push the corrected repository:
	echo "\t\tgit push --force --tags origin 'refs/heads/*'"
}

function printcolors() {
	echo
	echo -e "\033[0mNC (No color)"
	echo -e "\033[1;37mWHITE   \033[0;30mBLACK"
	echo -e "\033[0;34mBLUE    \033[1;34mLIGHT_BLUE"
	echo -e "\033[0;32mGREEN   \033[1;32mLIGHT_GREEN"
	echo -e "\033[0;36mCYAN    \033[1;36mLIGHT_CYAN"
	echo -e "\033[0;31mRED     \033[1;31mLIGHT_RED"
	echo -e "\033[0;35mPURPLE  \033[1;35mLIGHT_PURPLE"
	echo -e "\033[0;33mYELLOW  \033[1;33mLIGHT_YELLOW"
	echo -e "\033[1;30mGRAY    \033[0;37mLIGHT_GRAY"
}
