[alias]
	stage = add
	unstage = reset --
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
[push]
	default = simple
	recurseSubmodules = on-demand
[pull]
	recurseSubmodules = on-demand
[core]
	excludesfile = ~/.gitignore
